<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41736203488-c5dd0t8cbsmja5abl6q82i1ubc7nbetd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41736203488-c5dd0t8cbsmja5abl6q82i1ubc7nbetd</string>
	<key>API_KEY</key>
	<string>AIzaSyCd20xaPcKj_pTwb2aBoo68hPQr9cDK7AI</string>
	<key>GCM_SENDER_ID</key>
	<string>41736203488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oliviaedwards.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-6c2ce</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-6c2ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41736203488:ios:7c9602c0c045afb64b7485</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-6c2ce.firebaseio.com</string>
</dict>
</plist>